h1 {
  color: #3a136e;
  font-family: papyrus;
  font-size: 60px
}

p {
  background: #9db8ff;
}

figure {
  border: 1px solid black;
  padding: 30px
}

figure img {
  width: 30%;
    height: auto;
  margin-bottom: 14px;
}

p img {
  width: 20%;
  height: auto
}

p img {
  float: right;
  max-width: 15%;
  margin-right: 800px;
}

p {
  text-align: center;
}
