body {
  font-family: sans-serif;
  }

h1#site-title {
  color: #3a136e;
  font-family: papyrus;
  font-size: 80px
}

h1#article-title {
  color: #3a136e;
  font-family: garamond;
  font-size: 45px
}

p#main-paragraph {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

figure {
  border: 1px solid black;
  padding: 30px
}

figure img {
    margin-bottom: 14px;
}

figure.main-image {
  float: center;
  max-width: 50%;
  margin: auto;
  border: 1px solid black;
  padding: 10px
}

figure.section-image {
  float: center;
  max-width: 50%;
  margin: auto;
  border: 1px solid black;
  padding: 10px

}

p img {
  width: 20%;
  height: auto
}

p img {
  float: right;
  max-width: 15%;
  margin-right: 800px;
}

p#paragraph {
  text-align: left;
}

nav ul {
  background-color: #ec8510;
  display: inline-block;
  list-style: none;
  padding-left: 0;
  border: 1px solid #052387;
  }

@media all and (min-width: 391px) {
  nav ul {
    background-color: #ec8510;
    display: inline-block;
  }
}

  nav ul li {

  }

  nav ul li a{
    color: #000000;
    text-decoration: none;
    padding: 8px;
    border-bottom: 1px solid #052387;
    display: block;
  }

nav ul li a:hover {
  background-color: ##4fb2d6
}

  nav ul li:last-child a {
    border-bottom: none;
  }

  .screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}
