h1 {
  color: #3a136e;
  font-family: papyrus;
  font-size: 60px
}

p {
  background: #9db8ff;
}

figure {
  border: 1px solid black;
  padding: 30px
}

figure img {
  width: 30%;
    height: auto;
  margin-bottom: 14px;
}

p img {
  width: 20%;
  height: auto
}

p img {
  float: right;
  max-width: 15%;
  margin-right: 800px;
}

p {
  text-align: center;
}

nav ul {
  background-color: #ec8510;
  display: inline-block;
  list-style: none;
  padding-left: 0;
  border: 1px solid #052387;
  }

  nav ul li {

  }

  nav ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
    border-bottom: 1px solid #052387;
    display: block;
  }

nav ul li a:hover {
  background-color: #041094
}

  nav ul li:last-child a {
    border-bottom: none;
  }
